include README.md
include LICENSE
include requirements.txt
recursive-include iracing_oauth_client *.py
include iracing_oauth_client/defaults.ini
recursive-include examples *.py
recursive-exclude tests *
recursive-exclude __pycache__ *
recursive-exclude *.pyc *
